*.pdf
*.xopp
*.log
*.aux
*.fdb_latexmk
*.fls
*.toc
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
My Library/files/
.dep/
*.lot
*.lof
_minted-Main/
*.listing
*.theorem_list
*.locodecaption
*.synctex(busy)
*.fls
*.lofloatgrammar
*.locodecaption
*.out
*.vrb
*.snm
*.nav
