@media screen and (min-width: 1200px) {
.media--type-hosted-video {
  width: 80%;
  margin-left: 0;
}
}
.video-text-overlay {
  background-color: transparent;
  position: absolute;
  width: 100%;
  max-width: none;
  top: calc(50% - 50px);
  font-family: inherit;
  font-size: 0.85rem;
  border-radius: 0;
  border: none;
}
img.video-img-overlay {
  width: 100%;
}
.video-text-overlay > button {
color: #9d1e1e;
border: solid 2px #9d1e1e;
border-radius: .1875rem;
background-color: rgba(255,255,255,0.9);
font-size: 1.125rem;
font-weight: 700;
padding: .84375rem 1.125rem;
height: auto;
}
.video-text-overlay > button:hover {
  background-color: #fff;
  cursor: pointer;
}